body {
    margin:0;
    padding:0;
}

.pintrest-card  {


width:200px;
height:400px;
position:relative;
left:0;
right:0;
margin:auto;
padding:0;

white-space: nowrap;
overflow: hidden;


}

.pintrest-card-background {

width:100%;
height:100%;
object-fit:fill;
border-radius:10px;
position:absolute;
margin:0;

}
.pintrest-card-save {
    position:absolute;

    top:-7%;
    right:5%; 
    width: 20%;
    height: 7%;
    z-index:2;
    background-color: red;
    border-radius: 20px;
    text-align:center;
    align-content: center;
    color:white;
    transition: all 2s;

    
}
.pintrest-card:hover .pintrest-card-save {
    top:5%;
    /* transition: top 0.5s ease-in; */

}
.pintrest-card-save span {
font-size:10px;

    position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-55%);
    display:block;
cursor:pointer;
   
   


   
}
.pintrest-card-actions {
height:6%;
margin-bottom:5px;
top:100%;


position:absolute;
width:100%;
transition: all 2s;


}
.pintrest-card:hover .pintrest-card-actions { 
    top:90%;

}
.pintrest-card-actions-share {
width:50%;
height:100%;
left:5%;
position: absolute;
background-color:snow;
white-space: nowrap;
overflow: hidden;
  text-overflow: ellipsis;
  font-weight:bold;
  font-size:1rem;
  padding-left:5%;
  border-radius: 10px;
cursor: pointer;
}


.pintrest-card-actions-upload {
    width:15%;
    height:100%;
    position: absolute;
    background-color:snow;

object-fit: cover;
    right:20%;
border-radius: 50%;

}
.pintrest-card-actions-upload img {
width:40%;
height:55%;

position:absolute;
top: 0;
left:0;
bottom: 0;
right:0;
margin:auto;
}
.pintrest-card-actions-more {
    width:15%;
    height:100%;
    position: absolute;
    background-color:snow;
border-radius:50%;

    right:3%;

text-align: center;
font-size:19pt;

}
.pintrest-card-actions-more span {

position: absolute;
display:inline-block;
left:20%;
top:-36%;
margin:auto;
display:flex;
}


/* .pintrest-card:before {

  
    position:absolute;
    top: 5%;
right:10px;
    bottom: 0;

    z-index:1;
    background-color: red;
    text-align:center;
  
    display:block;

    width: 20%;
    height: 7%;
border-radius: 20px;


} */